{% extends 'base.html.twig' %}

{% block main %}
<div class="container">
    <div class="text-center">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Kaj je triatlon</h2>
                <p class="lead">Triatlon je šport sestavljen iz treh disciplin – plavanja, kolesarjenja in teka. Je dinamičen in zanimiv šport. Poseben čar predstavlja izziv osvojiti vse tri discipline ter jih s hitrimi prehodi povezati v celoto. Zato je trening triatlona vselej zabaven in raznovrsten.</div>
            <div class="col-md-5">
                <img src="https://www.relaytri.com/uploads/3/1/7/1/31714691/es-garmin-triathlon-logo-01_orig.png" alt="Triatlon logo" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
                <table width="auto" class="table"><tbody><tr><td width="77"><strong>Plavanje</strong></td><td width="85"><strong>Kolesarjenje</strong></td><td width="78"><strong>Tek</strong></td><td width="160"><strong>Naziv tekmovanja</strong></td><td width="255"><strong>Kategorije</strong></td></tr><tr><td>50 m</td><td>2 km</td><td>0,5 km</td><td>CICI TRIATLON</td><td>cicibani/cicibanke; mlajši dečki/deklice</td></tr><tr><td>200 – 300 m</td><td>8 – 10 km</td><td>1,5 – 2,5 km</td><td>SUPER SPRINT TRIATLON</td><td>st. dečki/deklice; kadeti/nje; ml. mladinci/mladinke*</td></tr><tr><td>750 m</td><td>20 km</td><td>5 km</td><td>SPRINT TRIATLON</td><td>mlajši mladinci/mladinke in starejši</td></tr><tr><td>1500 m</td><td>40 km</td><td>10 km</td><td>STANDARD TRIATLON</td><td>starejši mladinci/mladinke in starejši</td></tr><tr><td>1900 m</td><td>90 km</td><td>21 km</td><td>SREDNJI TRIATLON</td><td>starejši mladinci/mladinke in starejši</td></tr><tr><td>4000 m</td><td>120 km</td><td>30 km</td><td>DOLGI TRIATLON</td><td>starejši mladinci/mladinke in starejši</td></tr><tr><td>200 &#8211; 750 m</td><td>8 – 20 km</td><td>1 – 2,5 km</td><td>TRIATLON ZA VSE</td><td>vse kategorije</td></tr></tbody></table>

        </div>
    </div>
</div>
{% endblock %}