{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="text-center">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Plavanje</h2>
                    <p class="lead">Plavanje se odvija v bazenih ali odprtih vodah, kot sta jezero in morje. Štart plavanja je skupinski ali v valovih, kjer se štarta glede na predviden čas plavanja tekmovalca ali starostno kategorijo. Plavate lahko poljubno plavalno tehniko (kravl, prsno, žabica…), ki vam najbolj ustreza glede na pogoje. Plavanje v bazenih poteka v progah in sicer po desni strani le te, medtem ko je v odprtih vodah trasa označena z bojami. V primeru zelo hladne vode boste za plavanje potrebovali neopren. Pri plavanju v odprtih vodah vam bodo še posebej prišle prav organizirane vadbe v triatlonskih klubih.</div>
                <div class="col-md-5">
                    <img src="https://triatlonslovenije.si/wp-content/uploads/2018/02/tzs-21.jpg" alt="Plavanje" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Kolesarjenje</h2>
                    <p class="lead">Kolo je nepogrešljiv kos opreme. Pomembno je, da je redno servisiran in tako primeren za varno vožnjo. Večino tekem poteka ob popolni zapori prometa za vozila. Če še niste najbolj spretni v vožnji s kolesom je priporočljivo prve kilometre opraviti na manj prometnih cestah, medtem ko lahko vožnjo v skupini najlažje vadite na kolesarskih vadbah v klubih.

                        Kolesarska trasa je predhodno objavljena na oglasni deski na prizorišču ter ustrezno označena na cestišču. Dobro pa si jo je pred štartom še ogledati s kolesom ali kako drugače.

                        Čelade so obvezne za vse udeležence, na vseh kategorijah tekem.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="https://triatlonslovenije.si/wp-content/uploads/2018/02/marusa-klemenc8.jpg" alt="Kolesarjenje" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Tek</h2>
                    <p class="lead">Tekaški copati so najpomembnejši del tekaške opreme. Poskrbite, da bodo primerni in udobni.

                        Tek po kolesarjenju zna biti v začetku malo drugačen, kot ste vajeni saj noge potrebujejo nekaj časa, da se privadijo na drugačno gibanje.

                        Praviloma so na trasi postojanke z vodo. Na označeni trasi pa bodo na večini tekem tudi usmerjevalci.</div>
                <div class="col-md-5">
                    <img src="https://www.triathlon.org/images/news_thumbs/EliteWomenRunning1.JPG" alt="Tek" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider">
            <br>
        </div>
    </div>
{% endblock %}